/* Utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clearfix::after{
    clear: both;
    content: '';
    display: table;
}

.container{
    width: 1080px;
    margin: 0 auto;
}

h4{
    color: gray;
}

h3{
    padding: 10px 0;
}

/* BARRA NAV */
a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
    margin-left: 5px;
}

#logo{
    height: 70%;
    margin-bottom: 20px;
}

/* CORPO */
header{
    height: 100px;
    margin: 20px 0;
    padding: 10px 0;
}

.core{
    height: 500px;
    /* background-color: darkkhaki; */
    margin-bottom: 20px;
    background-image: url(../img/banner.jpg);
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.inside{
    position: absolute;
    color: white;
    bottom: 80px;
    left: 30px;
    opacity: 1;
}

.inside > h1,p{
    color: white;
    font-weight: normal;
}

h3+p{
    color: gray;
}

.float{
    float: left;
    margin-bottom: 20px;
}

.header-main{
    width: 100%;
}

.sidebar{
    width: calc(25% - 20px);
}

.menu{
    width: calc(50% - 20px); 
    margin: 0 30px; 
}

/* CARD IMAGE */
.card{
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position:center;
    border: 1px solid red;
}

.card.image-left{
    background-image: url(../img/img-1.jpg);
}

.card.image-right{
    background-image: url(../img/img-3.jpg);
}

.card.image-center{
    background-image: url(../img/banner-2.jpg); 
} 

/* FOOTER */
footer{
    height: 50px;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
}

/* PSEUDO HEART */
footer::after{
    content: '\2665';
    color: red;
    font-size: 20px;
}